---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Mandorla Oy | Tommi Ketola">
  <div
    class="relative max-w-md mx-auto md:max-w-2xl min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-40"
  >
    <div class="flex flex-wrap justify-center">
      <div class="w-full flex justify-center">
        <div class="relative">
          <img
            src="/tommi-300x300.png"
            class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]"
          />
        </div>
      </div>
    </div>
    <div class="text-center mt-28">
      <h1 class="text-2xl text-slate-700 font-bold leading-normal mb-1">
        Tommi Ketola
      </h1>
      <ol
        class="flex flex-row justify-center gap-x-4 text-xs mt-2 mb-2 text-slate-400 font-bold"
      >
        <li class="basis-1/5 hover:text-sky-600">tommi@mandorla.fi</li>
        <li class="basis-1/5 hover:text-sky-600">+358 40 514 2433</li>
        <li class="basis-1/5 hover:text-sky-600">LinkedIn</li>
      </ol>
    </div>
    <div
      class="flex flex-wrap justify-center mt-6 py-6 border-t border-slate-200 text-center"
    >
      <div class="w-full px-4">
        <p class="font-light leading-relaxed text-slate-600 mt-2 mb-4">
          Dependable software professional with a proven track record of
          delivering high quality systems: full-stack, mobile, cloud, AI and
          more. Capable of analysing complex issues and developing novel
          solutions either independently or as a key member of an agile team.
        </p>
        <p class="font-light leading-relaxed text-slate-600 mb-4">
          Contact me to transform your ideas into software!
        </p>

        <h2 class="font-semibold uppercase text-slate-600 mt-8 mb-4">
          Recently used technologies
        </h2>
        <div class="font-light leading-relaxed text-slate-600 mb-4">
          <div class="mb-2 font-light text-slate-600">
            <h3 class="font-semibold text-slate-400">Full-stack</h3>
            <p>
              TypeScript, JavaScript, Node.js, Astro, React, Angular, Tailwind
              CSS, C#, .NET, MongoDB
            </p>
          </div>
          <div class="mb-2 text-slate-600">
            <h3 class="font-semibold text-slate-400">Mobile</h3>
            <p>Swift, Objective-C, Kotlin, Java, Ionic, Capacitor, Firebase</p>
          </div>
          <div class="mb-2 text-slate-600">
            <h3 class="font-semibold text-slate-400">AI</h3>
            <p>Python, TensorFlow, OpenCV, Jupyter</p>
          </div>
          <div class="mb-2 text-slate-600">
            <h3 class="font-semibold text-slate-400">Cloud</h3>
            <p>AWS, Azure, Docker, Kubernetes</p>
          </div>
          <div class="mb-2 text-slate-600">
            <h3 class="font-semibold text-slate-400">Data analytics</h3>
            <p>Java, Kafka, Spark, HDFS</p>
          </div>
        </div>

        <h2 class="font-semibold uppercase text-slate-600 mt-8 mb-4">
          Career summary
        </h2>
        <div class="mb-4">
          <div class="mb-2 font-light text-slate-600">
            <h3>
              <span class="font-semibold text-slate-400">Mandorla Oy</span> (2016
              - present)
            </h3>
            <p>Software Consultant and Entrepreneur</p>
          </div>
          <div class="mb-2 font-light text-slate-600">
            <h3>
              <span class="font-semibold text-slate-400">Teleste Oyj</span> (1996
              - 2024)
            </h3>
            <p>Director, New Applications</p>
            <p>R&D Manager</p>
          </div>
          <div class="mb-2 font-light text-slate-600">
            <h3>
              <span class="font-semibold text-slate-400"
                >Space Systems Finland</span
              > (1992 - 1996)
            </h3>
            <p>Senior Software Engineer</p>
          </div>
          <div class="mb-2 font-light text-slate-600">
            <h3>
              <span class="font-semibold text-slate-400"
                >Finnish Meteorological Institute</span
              > (1991 - 1992)
            </h3>
            <p>Software Engineer</p>
          </div>
          <div class="mb-4 font-light text-slate-600">
            <h3>
              <span class="font-semibold text-slate-400"
                >Helsinki University of Technology</span
              > (1987-1994)
            </h3>
            <p>Master of Science (El. Eng.)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-8 flex justify-center">
    <img src="/mandorla-300x300.png" class="border-none max-w-[75px]" />
    <div class="ml-8 font-light text-slate-400 text-left">
      <h2 class="font-semibold uppercase">Mandorla Oy</h2>
      <p>Karjakuja 11<br />20540 Turku, Finland</p>
    </div>
  </div>
</BaseLayout>
