---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortraitImage from "../components/PortraitImage.astro";
import Name from "../components/Name.astro";
import ContactInfo from "../components/ContactInfo.astro";
import HeroText from "../components/HeroText.astro";
import Skills from "../components/Skills.astro";
import Career from "../components/Career.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Mandorla Oy | Tommi Ketola">
  <div
    class="relative max-w-md mx-auto md:max-w-2xl min-w-0 break-words bg-white w-full mb-4 shadow-lg rounded-xl mt-40"
  >
    <div class="flex flex-wrap justify-center w-full">
      <div class="relative">
        <!--div class="absolute -m-16 -ml-20 max-w-[150px]"-->
        <div class="-mt-16 max-w-[150px]">
          <PortraitImage />
        </div>
      </div>
    </div>
    <div class="mt-6">
      <Name />
      <ContactInfo />
    </div>
    <div class="flex flex-wrap justify-center mt-6 py-6 border-t border-slate-200 text-center">
      <div class="w-full px-4">
        <HeroText />
        <Skills />
        <Career />
      </div>
    </div>
  </div>

  <div class="p-8 mb-4 flex justify-center">
    <Footer />
  </div>
</BaseLayout>
