<p class="leading-relaxed text-slate-600 mt-2 mb-4">
  Dependable software professional with a proven track record of delivering high quality systems: full-stack, mobile,
  cloud, AI and more. Capable of analysing complex issues and developing novel solutions either independently or as a
  key member of an agile team.
</p>
<p class="leading-relaxed text-slate-600 mb-4">Contact me to transform your ideas into software!</p>
